@font-face {
    font-family: 'Circular_Std';
    src: url('../assets/fonts/CircularStd-Medium.eot');
    src: url('../assets/fonts/CircularStd-Medium.eot') format('embedded-opentype'),
    url('../assets/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('../assets/fonts/CircularStd-Medium.woff') format('woff'),
    url('../assets/fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular_Std_Book';
    src: url('../assets/fonts/CircularStd-Book.eot');
    src: url('../assets/fonts/CircularStd-Book.eot') format('embedded-opentype'),
    url('../assets/fonts/CircularStd-Book.woff2') format('woff2'),
    url('../assets/fonts/CircularStd-Book.woff') format('woff'),
    url('../assets/fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}