$dark-bg-main-color:#841E25;
$nav-bg-color:#FBF9F9;
$main-text-color:#FFFFFF;
$light-pink:#FF5959;
$light-green:#70CE88;
$light-blue:#5C96FF;
$light-orange:#FFBA49;
$light-violet:#F9F4FC;
$nav-left-color:#C8C8C8;
$nav-logotitle-color:#002147;
$banner-title-info-color:#7D7D7D;
$breakpoint: 1270px;
